name: 'CI'

on:
  push:
    branches:
      - main


jobs:
    lint-job:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3

        - name: set nodejs version to 18.15.0
          uses: actions/setup-node@v3
          with:
            node-version: '18.15.0'
        
        - run: npm ci

        - name: Run lint
          run: npm run lint
    
    
